version=0.15.0
profile = compact
parse-docstrings = true
break-infix = fit-or-vertical
break-fun-decl = fit-or-vertical
align-cases = true
align-constructors-decl = true
align-variants-decl = true
field-space = loose
sequence-blank-line = preserve-one
break-collection-expressions = fit-or-vertical
exp-grouping = preserve
wrap-fun-args = false
type-decl = sparse
let-and = sparse
dock-collection-brackets = false
doc-comments = after-when-possible
break-cases = all
break-sequences = true
break-before-in=fit-or-vertical
indicate-nested-or-patterns = unsafe-no
